               <div class="body_content_view">
                	<div class="body_content_view_header">
                    	<div class="col-xs-4">
                            <h2>Gestures</h2>
                        </div>
                    </div>
                	<div class="body_content_view_content">
                    	<div class="body_content_view_content_top">
                        	<div class="col-xs-4"><h3>ITEMS Information</h3></div>
                        	<div class="col-xs-8">
                            	<span>
                                    
                                	<div id="current_page">{{current_page}}</div>
                                    <p  (click)="next()" alt="" id="next_page">next</p>
                                    <p (click)="previous()" alt="" id="previous_page"> privious</p>
                                </span>
                            	<span id="total_items_text"></span>
                            </div>
                        </div>
                        <div class="body_content_view_content_table">
                            <table id="itemsTable" class="table table-bordered table-hover" width="647">
                            <!-- GET /api/items/ -->
                                <thead>
                                    <tr>
                                        <th> Label</th>
                                        <th>Description</th>

                                    </tr>
                                    <tr *ngFor="let post of xx">
                                            <td>{{post.label}}</td>
                                             <td>{{post.description}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

